@{
    ViewData["Title"] = "Register URLs";
}

<div class="text-center">
    <h1 class="display-6">Register Urls</h1>

    <div class='card card-body'>
      <button id='register' class='btn btn-primary'>Register URL</button>
    </div>
    <div>
      
    </div>
</div>
